.cardFooter {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.cardFooter .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 5px 20px 0px grey;
}

.cardFooter__starIcon {
  padding: 1px;
  color: #f5e942;
}

.cardFooter__clearIcon {
  padding: 1px;
  color: red;
}
.cardFooter__checkIcon {
  padding: 1px;
  color: green;
}
