.CardsContainer{
    display: relative;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin: auto;
    background-color:linear-gradient (aquamarine, rgb(223, 184, 140));
  }
  .swipe {
    position: absolute;
    left: 20%;
    z-index: 1;

  }
  
  .card {
    position: relative;
    
  }
