.CardsContainer {
  display: relative;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  background-color: linear-gradient (aquamarine, rgb(223, 184, 140));
}
.swipe {
  position: absolute;
  left: 23%;
  z-index: 1;
}

.card {
  position: relative;
}
